@media only screen and (max-width: 850px) {
	.top-nav ul li {
		display: block;
	}
}

@media only screen and (min-width: 650px) {
	.top-nav ul {
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		text-align: center;
	}

	.top-nav li {
		display: inline-block;
	}

	.yellow {
		width: 48%;
		float: left;
		display: inline-block;
	}

	.purple {
		width: 48%;
		display: inline-block;
	}
}

@media only screen and (min-width: 1000px) {
	.black {
		width: 48%;
		float: left;
		display: inline-block;
	}

	.pink {
		width: 48%;
		display: inline-block;
	}

	.yellow {
		width: 23%;
		float: left;
		display: inline-block;
	}

	.purple {
		width: 23%;
		display: inline-block;
	}

	.green {
		width: 48%;
		display: inline-block;
		float: right;
	}

	.blue {
		width: 48%;
		float: left;
		display: inline-block;
	}

	.red {
		width: 48%;
		display: inline-block;
	}
}
